/*first make the margin and padding to zero since we don't want anything extra*/

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 35%;
    border: 3px solid white;
    border-radius: 10000px;
    margin: 5px 0;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.nav-list{
    width: 70%;
    /* background-color: rgb(54, 47, 47); */
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{
    font-size: 25px;
    color: rgb(10, 221, 236);
}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    background-color:  white;
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 9px;
    vertical-align: middle;
}

.background{
    background: rgba(0, 0, 0, 0.4) url('../Images/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    max-width: 55%;
    margin: auto;
}

.firstHalf{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    padding: 4px 0;
    border:4px solid white;
    border-radius: 1000px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 32px;
    letter-spacing: .05rem;
}

.text-small{
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: .05rem;
    font-family: 'Ubuntu', sans-serif;
}

.btn{
    padding: 4px 10px;
    margin: 5px;
    border: 2px solid  white;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: .05rem;
    background-color: white;
    color:  white;
    background: none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.btn:hover{
    font-size: 16px;
    background-color:  white;
    color: crimson;
}

.btn-sm{
    vertical-align: middle;
    font-size: 12px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 60px auto;
    font-family: 'Ubuntu', sans-serif;
}

.sectionTag{
    padding: 16px 0;
}

.sectionTag text-big{
    font-size: 25px;
}

.left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.sectionSubTag{
    font-family: 'Ubuntu', sans-serif;
}

.thumbnail img{
    width: 205px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 10px;
}

.contact{
    background-color: rgb(233, 236, 226);
    height: 115vh;
}
.text-center{
    padding-top: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.form{
    max-width: 62%;
    margin: 25px auto;
}

.form-input{
    margin: 14px 0 5px 0;
    width: 100%;
    font-size: 19px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.btn-dark{
   color: black;
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px 13px;
   margin: 10px;
   font-size: 20px;
   font-family: 'Ubuntu', sans-serif;
}

.text-footer{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 37, 37);
    color: white;
}

.hamburger{
    display: none;
    position: absolute;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;

}

@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }

    .rightNav{
        text-align:center;
    }

    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 447px;
    }

    #search{
        width: 100%;
    }

    .hamburger{
        display: block;
    }

    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .firstHalf{
        align-items: center;
        justify-content: center;
        margin: 40px;
    }

    .text-big,.text-small,.btn.sectionTag{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .contact{
        height: 89vh;
    }

    .section{
        flex-direction: column-reverse;
    }

    .paras{
        padding: 0;
    }
}